.checkbox {
    float: left;
}

.labname {
    float: left;
    margin-left: 5vh;
}

.item {
    /*margin-bottom: 5vh;*/
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.item_true {
    background-color: rgb(255, 200, 200);
}

.savebutton {
    margin-left: 5vh;
}

li {
    list-style: none;
}